<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mogu.data.integration.mapper.TaskSqlDetailMapper">

    <select id="selectByTaskId" resultType="com.mogu.data.integration.entity.TaskSqlDetail">
        SELECT *
        FROM task_sql_detail
        WHERE task_id = #{taskId}
    </select>

    <update id="updateByTaskId">
        UPDATE task_sql_detail
        SET sql_content = #{sqlContent},
            target_datasource_id = #{targetDatasourceId},
            update_time = NOW()
        WHERE task_id = #{taskId}
    </update>

</mapper>
